@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: "#FCFCFD";
  height: min-content;
}

:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgb(136 132 255);
}
